[Desktop Entry]
Type=Application
Name=pprompt
Comment=Prompt to change default password if ssh enabled
NoDisplay=true
Exec=python3 /etc/xdg/lxsession/LXDE-pi/sshpwd.py
NotShowIn=GNOME;KDE;XFCE;
