Source: pprompt
Section: admin
Priority: optional
Maintainer: Simon Long <simon@raspberrypi.org>
Build-Depends: debhelper (>= 9), autotools-dev, libglib2.0-dev, libgtk2.0-dev,
 libx11-dev, intltool
Standards-Version: 3.9.5
Homepage: http://raspberrypi.org/

Package: pprompt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Password change prompt
 This application is intended to be run at first boot of Raspbian
 to both prompt the user to change the default password and to give
 them an easy way to do so.
